<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{title}}</title>

  <link rel="stylesheet" href="assets/css/maicons.css">

  <link rel="stylesheet" href="assets/css/bootstrap.css">

  <link rel="stylesheet" href="assets/vendor/animate/animate.css">

  <link rel="stylesheet" href="assets/css/theme.css">

</head>
<body>

  <!-- Back to top button -->
  <div class="back-to-top"></div>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky" data-offset="500">
      <div class="container">
        <a href="/" class="navbar-brand">Face<span class="text-primary">Analysis.</span></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faceDetection/">Face Detection</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faceExpression/">Face Expression Detection</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ageAndGender/">Age & Gender Detection</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>

    <div class="container">
      <div class="page-banner home-banner">
        <div class="row align-items-center flex-wrap-reverse h-100">
          <div class="col-md-6 py-5 wow fadeInLeft">
            <h1 class="mb-4">Facial Analysis System</h1>
            <p class="text-lg text-grey mb-5">To build a expression, gender and age detector that can approximately guess the gender, age and expression (Neutral, Surprised, Disgusted, Fearful, Sad, Angry, Happy) of the person in a picture using Deep Learning</p>
            <!-- <a href="#" class="btn btn-primary btn-split">Watch Video <div class="fab"><span class="mai-play"></span></div></a> -->
          </div>
          <div class="col-md-6 py-5 wow zoomIn">
            <div class="img-fluid text-center">
              <img src="../assets/img/face.svg" alt="">
            </div>
          </div>
        </div>
        <a href="#about" class="btn-scroll" data-role="smoothscroll"><span class="mai-arrow-down"></span></a>
      </div>
    </div>
  </header>
  <br>
  <br>
  <br>
  <div class="page-section" id="about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 py-3 wow fadeInUp">
          <span class="subhead">Features</span>
          <h2 class="title-section">Face Detection</h2>
          <div class="divider"></div>
          <p>Face detection is a computer technology being used in a variety of applications that identifies human faces in digital images.</p>
          <p>It shows 68 landmarks of faces.</p>
          <a href="/faceDetection/" class="btn btn-primary mt-3">Try It!</a>
        </div>
        <div class="col-lg-6 py-3 wow fadeInRight">
          <div class="img-fluid py-3 text-center">
            <img style="max-width:100%" src="../assets/img/face.jpg" alt="">
          </div>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <div class="page-section" id="about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 py-3 wow fadeInLeft">
          <div class="img-fluid text-center">
            <img style="max-width:90%" src="../assets/img/face-expression.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 py-3 wow fadeInUp">
          <h2 class="title-section">Face Expression Detection</h2>
          <div class="divider"></div>
          <p>Facial expression recognition is the task of classifying the expressions on face images into various categories such as anger, fear, surprise, sadness, happiness and so on.</p>
          <a href="/faceExpression/" class="btn btn-primary mt-3">Try It!</a>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <div class="page-section" id="about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 py-3 wow fadeInUp">
          <h2 class="title-section">Age & Gender Detection</h2>
          <div class="divider"></div>
          <p>The main aim of this feature is to detect age and gender through the given data set. We will use simple python and Keras methods for detecting age and gender.</p>
          <a href="/ageAndGender/" class="btn btn-primary mt-3">Try It!</a>
        </div>
        <div class="col-lg-6 py-3 wow fadeInRight">
          <div class="img-fluid py-3 text-center">
            <img style="max-width:90%" src="../assets/img/face-age.png" alt="">
          </div>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

  <footer class="page-footer bg-image" style="background-image: url(../assets/img/world_pattern.svg);">
    <div class="container">
      <p class="text-center" id="copyright">Copyright &copy; 2022. The project is designed by Shubham Virkar & Team <a href="#" target="_blank"></a></p>
    </div>
  </footer>

<script src="assets/js/jquery-3.5.1.min.js"></script>

<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/vendor/wow/wow.min.js"></script>

<script src="assets/js/theme.js"></script>
  
</body>
</html>